@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Raleway:wght@400;700;800&display=swap');

*{box-sizing: border-box;}

html{ font-size: 14px;}

body, h1, h2, p, figure, .menu{
    margin: 0;
    padding: 0;
}

img{ max-width: 100%;}

body{
    font-family: 'Noto Sans',sans-serif, Verdana,Arial, Helvetica, Geneva, Tahoma;
    background-color: #fff;
}

a{ text-decoration: none; }

h1 a{ 
    background-color: black;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    text-transform: uppercase;
}

h1{
    /* Google Fonts */
    font-family: Raleway,sans-serif, Verdana,Arial, Geneva, Tahoma, Helvetica, ;
    font-weight: 800;
    font-size: 1.5rem;
}

header{
    /* cabeçalho fixo */
    position: sticky;
    top: 0;
    background-color: #ffffff;   
}

header .limitador{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    height: 10vh;
}

nav h2 a{
    color: black;
    font-size: 1.2rem;
    display: inline-block; 
    padding: 1rem;
}

nav a:hover, nav a:focus{
    background-color: rgba(118, 118, 118, 0.552);
}
.menu{
   list-style: none; 
   display: none;
}

.menu a{
    font-weight: bold;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.destaque{
    background-image: url(../imagens/fundo-destaque.jpg);
    background-size: cover;
    background-attachment: fixed; 
    height: 90vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

}

.destaque h2, .destaque p{
    color: #fff;
    text-align: center;
    
}

.destaque h2{
    /* função clamp utiliza o valor mninímo,desejavel e valor máximo. */
    font-size: clamp(3rem,10vw, 6rem);
    font-family: Raleway,sans-serif,Arial, Helvetica ;
    font-weight: 800;
    animation: animadestaque 2s;
}

.destaque p{
    font-size:clamp(1.1rem, 3vw, 2rem);
    font-weight: bold;
    animation: animadestaque 3s cubic-bezier(0.23, 1, 0.320, 1);
    animation-delay: 1s;
    animation-fill-mode: backwards; 
    /* e usada para atrasar
    animation-delay:
    e usada para corrigir o delay
     animation-fill-mode: backwards; */
}

/* etapa 1: criar regra de animação */
@keyframes animadestaque{
    /* dê */
    from{
        opacity: 0;
        transform: translateY(-350px);
    }
    /* para */
    to{
        opacity: 1;
    }
}

article h2{
    padding: 1rem;
    font-family: Raleway,sans-serif,Arial, Helvetica;
    color: #6b6b6b;
    font-size: 1.8rem;
}

article p, article address {
    padding: 0.5rem 0;
    font-size: 1.3rem;
}

/* remover o italico do address */
article address{
    font-style: normal;
}

.front-end, .historia, .localizacao, footer{ text-align: center;}

.historia{
    background-image: url(../imagens/fundo-madeira.jpg);
    background-attachment: fixed;
    background-size: cover;
}
.historia h2{
    text-shadow: black 5px 5px 10px;
    color: rgb(255, 255, 255);
}

iframe{ width: 100%;}

.historia iframe{
    max-width: 700px;
    margin-bottom: 2rem;
}

.localizacao iframe{
    margin-top: 2rem;
}


.front-end figure{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.limitador{
    margin: auto;
    width: 95vw;
}

footer{
    background-color: black;
    color: #fff;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.conteudo{
    background-color: #d9d8d8;
    padding: 0.5rem;
    border-radius: 8px;
}